{% if config_context.ip.access_lists.standard is defined %}
{% for value in config_context.ip.access_lists.standard %}
{% for name,acl in value.items() %}
ip access-list standard {{ name }}
{% for rule in acl.rules %}
 {{ rule.action}} {{ rule.source | address }} {{ rule.source | wildcard }} {% if rule.logging %}log{%endif%}

{% endfor %}
{% endfor %}
{% endfor %}
{% endif%}
!
{% if config_context.ip.access_lists.extended is defined %}
{% for value in config_context.ip.access_lists.extended %}
{% for name,acl in value.items() %}
ip access-list extended {{ name }}
{% for rule in acl.rules %}
 {{ rule.action}} {{rule.protocol}} {{ rule.source.address | address }} {{ rule.source.address | wildcard }} {{rule.destination.address | address}} {% if rule.source.port is defined %}{{rule.source.port_match}} {{rule.source.port}}{%endif%} {{rule.destination.address | address }} {{rule.destination.address | wildcard}} {% if rule.destination.port is defined %}{{rule.destination.port_match}} {{rule.destination.port}}{%endif%} {% if rule.logging %}log{%endif%}
 
{% endfor %}
{% endfor %}
{% endfor %}
{% endif%}