{% for interface in interfaces %}
interface {{interface.name}}
 description {{interface.description}}
 {% if interface.enabled %}no shutdown{%else%}shutdown{%endif%}
 {%for ip in interface.ip_addresses%}
 ip address {{ip.address | get_hostmask }} {{ ip.address | get_netmask }}
 {%endfor%}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ntp disable
 no mop enabled
 lldp enable
 {% if device_role.name == 'edgerouter' %}
 no lldp transmit
 no cdp enable
 {% else %}
 lldp transmit
 cdp enable
 {% endif %}
 lldp receive
{% endfor%}