{% for interface in interfaces %}
interface {{interface.name}}
{% if interface.description != '' %}
 description {{interface.description}}
{% elseif connected_interface is not None %}
 description to {{ interface.connected_interface.device.name }} {{ interface.connected_interface.name }}
{% endif %}
{% if interface.enabled %}
 no shutdown
{%else%}
 shutdown
{%endif%}
{%for ip in interface.ip_addresses%}
 ip address {{ip.address | address }} {{ ip.address | mask }}
{%endfor-%}
 no ip redirects
 no ip unreachables
 no ip proxy-arp
 ntp disable
 no mop enabled
{% if device_role.name == 'edgerouter' %}
 no lldp transmit
 no cdp enable
{% else %}
 lldp transmit
 cdp enable
{% endif %}
 lldp receive
{% endfor%}