{% if config_context.snmp is defined %}
{% for name,group in config_context.snmp.groups.items() %}
snmp-server group {{name}} {{group.version}} {{group.version_option}} {% if group.acl_v4 is defined %}{{group.acl_v4}}{%endif%}

{% endfor %}
{% for name,community in config_context.snmp.communities.items() %}
snmp-server community {{name}} {{community.permission}}{% if community.acl_v4 is defined %} {{community.acl_v4}}{%endif%}

{% endfor %}
{% for user in config_context.snmp.users %}
snmp-server user {{user.name}} {{user.group}} v3 auth {{user.authentication.algorithm}} {{user.authentication.password}} priv {{user.encryption.priv}} {{user.encryption.priv_option}} {{user.encryption.password}}
{% endfor %}
{% endif %}