hostname {{hostname}}

{% include 'templates/' ~ platform.slug ~ '/interface.j2' %}

{% for banner in config_context.banners %}
{% for key,value in banner.items() %}
banner {{key}} ^
{{value}}
^
{% endfor%}
{% endfor %}