hostname {{hostname}}
!
service nagle
no service pad
service tcp-keepalives-in
service tcp-keepalives-out
service timestamps debug datetime msec localtime show-timezone
service timestamps log datetime msec localtime show-timezone
service password-encryption
service sequence-numbers
no service dhcp
no platform punt-keepalive disable-kernel-core
!
ip ssh time-out 60
ip ssh logging events
ip ssh version 2
!
no ip http server
no ip http secure-server
no ip bootp server
{% if not config_context.domain.lookup %}no{% endif %} ip domain lookup
ip domain name {{ config_context.domain.name }}
ip dhcp bootp ignore
!
{% if primary_ip4 is not none %}
ip telnet source-interface {{ primary_ip4.interface.name }}
ip ssh source-interface {{ primary_ip4.interface.name }}
ip tftp source-interface {{ primary_ip4.interface.name }}
ip ftp source-interface {{ primary_ip4.interface.name }}
{% endif %}
!
{% include 'templates/' ~ platform.slug ~ '/interface.j2' %}
!
{% include 'templates/' ~ platform.slug ~ '/acl.j2' %}
!
{% include 'templates/' ~ platform.slug ~ '/ntp.j2' %}
!
{% include 'templates/' ~ platform.slug ~ '/logging.j2' %}
!
{% include 'templates/' ~ platform.slug ~ '/snmp.j2' %}
!
{% for banner in config_context.banners %}
{% for key,value in banner.items() %}
banner {{key}} ^
{{ value }}^
{% endfor%}
{% endfor %}